body {
    background-color: black;
}

.frontpagebox {
    width: 500px;
    margin: 16px auto;
}

h1 {
    color: chocolate;
    text-align: center;
    margin-bottom: 50px;
}

.recipelist {
}

.listtext {
    display: inline-block;
    width: 200px;
}

.listimg {
    display: inline-block;
    width: 200px;
}

.list {
    font-size: 36px;
    padding: 8px;
}

a:link {
    text-decoration: none;
}

a {
    color: white;
}